body{
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pl-container{
    position: relative;
    margin:auto;
    width: 60%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.heading{
    font-size: 50px;
    margin-bottom: 50px;
}

.pl{
    border: gray 5px dotted;
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}