.marked-yellow{
    stroke: yellow;
    fill: yellow;

}


/* temporary */

#allNotes{
    border:2px red solid;
    margin: 10px;
    padding: 5px;
}

#starNotes{
    border: 2px blue solid;
    margin: 10px;
    padding: 5px;
}

#singleNote{
    /* border: none; */
    resize: none;
}

#singleNote:hover{
    cursor:default;
}
#singleNote:focus{
    cursor:text;
}

#title{
    resize:none;
}